html,
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #2c242e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100dvh;
  min-height: 100dvh;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#controller {
  color: rgb(222, 241, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 50dvh;
  height: 50dvh;
  background-color: #403242;
  border-radius: 15px;
  margin: 500px;
  padding: 30px 40px;
  box-shadow: 0 10px 10px 5px rgb(22, 23, 24);
}

#fatassmf {
  height: 100%;
}

select,
button {
  width: 30dvh;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #323532;
  color: rgb(222, 241, 235);
  padding: 5px;
  border-radius: 4px;
}